body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    text-align: center;
}

header {
    background-color: #99e699;
    padding: 20px;
}

.content {
    margin: 50px;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

button {
    background-color: #66cc66;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #55aa55;
}

footer {
    background-color: #99e699;
    padding: 10px;
    position: absolute;
    bottom: 0;
    width: 100%;
}

