body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f5f5f5;
}

table {
    width: 50%;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td {
    text-align: center;
}

td, th {
    padding: 12px;
    font-size: 16px;
}

th {
    background-color: #5685d1;
    color: white;
}

tr:first-child td {
    background-color: #74aede;
    color: white;
    font-weight: bold;
    font-size: 18px;
}

.ENDES { background-color: #eaeaea; }    
.Ingles { background-color: #eadbd7; }  
.LMSGI { background-color: #bee4cc; }   
.SIINF { background-color: #e7d7c7; }    
.SAS { background-color: #efdfea; }       
.PROG { background-color: #c0d9e3; }     
.DAS { background-color: #e2cedd; }      
.IPE { background-color: #e1d0e6; }       
.BADAT { background-color: #dee0c9; }
.hora { background-color: #b7e7ef;}