body {
    font-family: Arial, sans-serif;
    background-color: #e9ecf1;
    justify-content: center;
    background-color: rgb(235, 184, 95);
}

.indice {
    background-color: rgb(235, 184, 95);
    padding: 20px;
    
}

.XML {
    background-color: beige;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 15px;
}

.HTML {
    background-color: beige;
    padding: 15px;
    border-radius: 15px;
}

h1 {
    color: rgb(244, 244, 244);
    text-align: center;
}

h2 {
    color: rgb(235, 184, 95);
}

ul a {
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: black;
}

ul a:hover {
    color: #e59722;
}